body {
    --green: #04AA6D;
    --gray: #EEEEEE;
    --red: rgb(255, 59, 48);
    --orange: rgb(255, 149, 0);
    --blue: rgb(0, 122, 255);
}

.title-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-family: sans-serif;
}

.play-area {
    margin-top: 60px;
}

.width-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.guess-input {
    background-color: var(--gray);
    border: none;
    height: 60px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    outline: none;
    border-radius: 10px;
}

.button {
    cursor: pointer;
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: var(--blue);
    color: white;
    border: none;
    margin: 0 10px;
    font-size: 14px;
}

#verify-area {
    margin: auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.verify-text {
    background-color: var(--gray);
    width: 30px;
    height: 40px;
    color: black;
    border: none;
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 16px;
    font-family: monospace;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.verify-text.success {
    background-color: var(--green);
    color: white;
}

.verify-text.warning {
    background-color: var(--orange);
    color: white;
}

#hint-text {
    font-family: sans-serif;
    font-size: 14px;
}

#hint-text.fail {
    color: var(--red);
}

#hint-text.success {
    color: var(--green);
}

#hint-text.warning {
    color: var(--orange);
}

#hint-text.system {
    color: var(--blue);
}

